<footer class="site__footer footer" >
        <div class="site-footer">
            <div class="container">
                <div class="site-footer__widgets">
                    <div class="row">
                        <div class="col-12 col-md-4 ">
                            <div class="footer-description">
                                <h5 class="footer-links__title">تماس با ما</h5>
                                <ul>
                                    <p>
                                        <span>نشانی: تهران، خیابان ولیعصر ،نرسیده به میدان تجریش، باغ فردوس</span>
                                    </p>
                                    <p>
                                        <span>شماره تماس : ۹- ۲۲۷۰۵۰۰۵(۰۲۱)</span>
                                    </p>
                                    <p>
                                        <span>نمابر: ۲۲۷۱۷۰۵۰(۰۲۱)</span>
                                    </p>
                                </ul>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-4">
                            <div class="footer-description">
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <ul>
                                    <p>روابط عمومی: info@cinemamuseum.ir</p>
                                    <p>کدپستی : ۴۳۹۴۶-۱۹۶۱۷</p>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-lg-4">
                            <div class="media_image-3">
                                <img width="533" height="431" alt="" style="max-width: 100%; height: auto;" 
                                decoding="async" data-srcset="{{media_url}}/images/museumMap.png 533w,
                                {{media_url}}/images/museumMap-300x243.png 300w,
                                {{media_url}}/images/museumMap-495x400.png 495w"
                                data-src="{{media_url}}/images/museumMap.jpg" data-sizes="(max-width: 533px) 100vw, 533px" 
                                class="image wp-image-65 attachment-full size-full perfmatters-lazy lazyloaded entered loaded" 
                                src="{{media_url}}/images/museumMap.jpg" 
                                sizes="(max-width: 533px) 100vw, 533px" 
                                srcset="{{media_url}}/images/museumMap.png 533w,
                                {{media_url}}/images/museumMap-300x243.png 300w,
                                {{media_url}}/images/museumMap.png 495w" 
                                data-ll-status="loaded">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-12">
                    <div class="site-footer__bottom">
                        <div class="site-footer__copyright">
                            &copy;&nbsp;&nbsp;طراحی و کدنویسی توسط&nbsp;&nbsp;
                            <a href="https://github.com/MohammadHosseinYaghubi" target="_blank">محمد حسین یعقوبی&nbsp;&nbsp;&nbsp;</a>
                            <span>m.h.yaghubi.info@gmail.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</footer>
